@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/script.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="home_intro">
    <h1>It's time to text your Knowledge</h1>
    <h3>Let's start the quiz</h3>
    <button class="tab" onclick="window.open('/onlinequiz/ques','_self')">
        Get started
    </button>
</div>

